<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro do aluno</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/alunos.css">
</head>

<body>
    <header>
        <div class="title" style="flex: 3;">
            <img src="{{ url_for('static', filename='img/senai.svg')}}" alt="Logo do SENAI" width="150px">
        </div>
        <div>
            <a href="/auth" id="btn-menu"><img src="../static/img/home.svg" width="40px" alt="voltar"></a>
        </div>
    </header>

    <main>
        <div class="container" style="justify-items: center;">
            <h2>{{ 'Atualizar' if edit>0 else 'Cadastrar'}}</h2>
            <form method="POST" class="formulario" action="/alunos{{ '/'~edit if edit>0 else ''}}" enctype="multipart/form-data">
                {% if edit>0 %}
                <a href="/alunos" id="btn-cancel">Cancelar</a>
                {% endif %}
                <div style="text-align: center;">
                    <label for="imageInput" class="botao-upload">
                        <div class="tela"><img src="../static/img/edit.svg" width="100px" style="pointer-events: none" alt=""></div>
                        <img id="imagePreview" src="{{ '/imagem/'~edit if edit>0 else '../static/img/user.svg'}}" alt="">
                    </label>
                    <input type="file" id="imageInput" name="img" accept="image/*">
                </div>

                <label><b>Aluno</b></label><br>
                <input class="inp" placeholder="Digite aqui o nome do aluno..." value="{{aluno[0]}}" name="nome" required>

                <label><b>Data de Nascimento</b></label><br>
                <input class="inp" id="dataNascimento" type="date" value="{{aluno[1]}}" name="data" required>

                <label><b>CPF</b></label>
                <input class="inp" type="number" name="cpf" value="{{aluno[2]}}" placeholder="Digite aqui o CPF..." required>

                <label><b>Email do Responsável</b></label>
                <input class="inp" type="text" name="email" value="{{aluno[3]}}" placeholder="Email do Responsável...">

                <label><b>Telefone do Responsável</b></label>
                <input class="inp" type="number" name="tell" value="{{aluno[4]}}" placeholder="Telefone do Responsável...">

                <div style="text-align: center;">
                    <button type="submit" style="margin-bottom: 20px;" id="btnform">Salvar</button>
                </div>
            </form>
        </div>
        <div class="container space" style="padding-left: 10px;">
            <h2>Lista dos alunos</h2>
            <div style="margin-top: 5px;">
                <div class="box-busca">
                    <input class="inp-busca" style="margin-bottom: 10px;" placeholder="buscar aluno...">
                    <img src="../static/img/search.svg" width="30px" alt="">
                </div>
                <ul id="lista"></ul>
            </div>
        </div>
    </main>
    <footer>
        <p>Escola SENAI "Luíz Massa" CPF 7.91 &COPY; Desenvolvido em 2025</p>
    </footer>
    <script>
        const bd = JSON.parse('{{ listaAlunos | safe }}');
    </script>
    <script src="../static/script/alunos.js"></script>
</body>

</html>