<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autorização</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/auth.css">
</head>

<body class="fundo">
    <header>
        <div style="flex: 3;">
            <img src="{{ url_for('static', filename='img/senai.svg')}}" alt="Logo do SENAI" width="150px">
        </div>
        <p id="bem-vindo"><b>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for msg, tipo in messages %}
                {% if tipo=='hello' %}
                {{ msg }}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </b></p>

        <div>
            <button onclick="teste()" id="btn-menu"><img src="../static/img/menu.svg" width="40px" alt="Menu"></button>
        </div>
    </header>
    <button id="btnTopo">
        <img src="../static/img/eject.svg" width="30px" alt="">
    </button>
    <div id="btn-notf" onclick="abrirNotf()">
        <img src="../static/img/notifications.svg" width="35px" alt="">
    </div>
    <div class="notification">
        <div style="display: flex;flex-direction: row;margin: 5px;align-items: center;justify-content: center;">
            <h3 style="text-align: center;flex: 3;color: #460739;">Ultimas ações</h3>
            <img src="../static/img/voltar.svg" id="fechar-notf" onclick="fecharNotf()" width="30px" alt="">
        </div>
        <ul class="lista-alert">
            <li>oi</li>
            <li>oi</li>
            <li>oi</li>
            <li>oi</li>
        </ul>
    </div>
    <div class="load">
        <div class="spinner"></div>
        <div class="loading-text">Aguarde só um momento...</div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg, tipo in messages %}
    {% if tipo=='email' %}
    {% if msg=='Responsável notificado com sucesso!' %}
    <p class="alert" style="background: rgb(95, 255, 95);">
        {% else %}
    <p class="alert" style="background: rgb(255, 242, 95);">
        {% endif %}
        {{ msg }}
    </p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <div class="container">
            <div style="text-align: center;color: #460739;">
                <h1>Autorização de {{'Entrada / ' if user[4] != 1 else ''}}Saída</h1>
            </div>
            {% if user[4] != 1 %}
            <div class="radio-input">
                <label class="label" onclick="opcao('Saída')">
                    <input type="radio" id="value-1" checked="" name="value-radio" value="value-1" />
                    <p class="text">Saída</p>
                </label>
                <label class="label" onclick="opcao('Entrada')">
                    <input type="radio" id="value-2" name="value-radio" value="value-2" />
                    <p class="text">Entrada</p>
                </label>
            </div>
            {% endif %}
            <form method="POST" action="/auth" class="formulario">
                <input type="hidden" id="id-aluno" name="id-aluno">
                <input type="hidden" id="atividade" name="caso">
                <input type="hidden" id="estado" value="false" name="estado">


                <label><b>Aluno</b></label><br>
                <input class="inp" style="margin-bottom: 10px;" placeholder="Digite aqui o nome do aluno..." required>

                <ul id="resultados">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for msg, tipo in messages %}
                    {% if tipo=='aluno' %}
                    <li style="color: red;">{{msg}}</li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </ul><br>

                <label for="action"><b>Atividade:</b></label>
                <select class="inp-select" id="action" name="atividade">
                    <option value="CAI">CAI - Curso de Aprendizagem Industrial</option>
                    <option value="CT">CT - Checkpoint ou Checkpoint Trabalho</option>
                    <option value="FIC">FIC - Formação Inicial e Continuada</option>
                </select>

                <label for="action2"><b>Curso:</b></label>
                <select class="inp-select" id="action2" name="curso">
                    {% for item in listaCursos %}
                    <option value="{{item[0]}}">{{item[1]}}</option>
                    {% endfor %}
                </select>

                <label><b>Data</b></label><br>
                <input class="inp" id="data" value="2025-01-01" type="date" name="data" required>
                <label><b>Horário</b></label><br>
                <input class="inp" id="tempo" value="00:00" type="time" name="horario" required>
                <label><b>Motivo</b></label>
                <div class="tags"></div><br>
                <input class="inp" style="display: none;" placeholder="..." name="motivo">

                <div class="box-email" style="display: none;">

                    <div class="info">
                        <p id="msg-caso"></p>
                        <div id="check-box">
                            <br><input type="checkbox" onclick="verificar()" name="receber_codigo" id="chek" value="sim"
                                checked>
                            <i>Solicitar código de
                                validação</i>
                        </div>

                    </div>

                    <br><label><b>Email do responsável</b></label>
                    <input type="hidden" class="inp" placeholder="..." name="emailResp">
                    <p id="email-print"></p><br>
                    <label><b>Telefone do responsável</b></label>
                    <input type="hidden" class="inp" placeholder="...">
                    <p id="tell-print"></p><br>
                </div>

                <div class="input-group">
                    <label for="inputText"><b>Observação:</b></label>
                    <textarea id="inputText" placeholder="..." name="obs"></textarea>
                </div>

                <div style="text-align: center;">
                    <button class="btn-padrao" type="submit" onclick="load(document.getElementsByClassName('inp')[0])">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front text" style="font-size: 1.1rem;"> Enviar
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <div class="container menu" style="display: none;">
            <div class="menu-perfil">

                <div class="container-perfil">
                    <div class="form_area">
                        <p>{{'Professor(a)' if user[4] == 1 else 'Coordenador(a)'}}</p>
                        <p class="title">Olá {{user[3]}}</p>

                        <form action="">
                            <div class="form_group">
                                <label class="sub_title" for="nif">NIF</label>
                                <input placeholder="Enter your nif" id="nif" class="form_style" value="{{user[1]}}"
                                    type="number" readonly>
                            </div>
                        </form><br>
                        <div style="text-align: center;">
                            <a href="/logout">
                                <button id="sair-login">SAIR</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-acesso">
                <div style="text-align: center; margin-top: 20px;">
                    <h2>Acessos</h2>
                </div>
                <ul class="opcao-menu">
                    <li><a href="/cursos"><button class="btn">CURSOS / AUTORIZAÇÕES</button></a></li>
                    {% if user[4] > 1 %}
                    <li><a href="/alunos"><button class="btn">ALUNOS</button></a></li>
                    <li><a href="/registros"><button class="btn">AUTORIZAÇÕES EM GERAL</button></a></li>
                    {% endif %}
                </ul>
            </div><img src="" alt="">
        </div>
    </main>
    <footer>
        <p>Escola SENAI "Luíz Massa" CPF 7.91 &COPY; Desenvolvido em 2025</p>
    </footer>
    <script src="../static/script/script.js"></script>
    <script>
        const bd = JSON.parse('{{ bd | safe }}');
        const menu = ['{{menu}}', '{% with messages = get_flashed_messages() %}{% if messages %}{% for msg, tipo in messages %}{% if tipo=="hello" %}1{% endif %}{% endfor %}{% endif %}{% endwith %}']

        function toggleSenha() {
            const senhaInput = document.getElementById("senha");
            const iconeImg = document.querySelector("#icone img"); // seleciona a imagem dentro do span

            if (senhaInput.type === "password") {
                senhaInput.type = "text";
                iconeImg.src = "https://img.icons8.com/?size=100&id=121540&format=png&color=000000"; // ícone para "mostrar"
                iconeImg.alt = "Esconder senha";
            } else {
                senhaInput.type = "password";
                iconeImg.src = "https://img.icons8.com/?size=100&id=24456&format=png&color=000000"; // ícone para "esconder"
                iconeImg.alt = "Mostrar senha";
            }
        }

        let msgError = "{% with messages = get_flashed_messages() %}{% if messages %}{% for msg, tipo in messages %}{% if tipo=='email-error' %}{{msg}}{% endif %}{% endfor %}{% endif %}{% endwith %}"
        
        if (msgError) {
            alert(msgError)
        }
        
    </script>
    <script src="../static/script/auth.js"></script>
</body>

</html>