<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>

<body>
    <header>
        <div class="title">
            <img src="{{ url_for('static', filename='img/senai.svg')}}" alt="Logo do SENAI" width="150px">

        </div>
    </header>
    <main>
        <div class="boxImg none flex"></div>
        <div class="boxImg">
            <div class="boxForm">
                <div style="text-align: center;color: #460739;margin: 20px 0;">
                    <h1>Login</h1>
                </div>
                <form method="POST" action="/">
                    <label><b>NIF</b></label><br>
                    <input type="number" class="inp" placeholder="Digite seu NIF" name="nif" required>
                    <label><b>Senha</b></label><br>
                    <input type="password" class="inp" style="margin-bottom: 5px;" placeholder="Digite sua senha"
                        name="senha" required>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for msg, tipo in messages %}
                    {% if tipo=='login' %}
                    <div style="color:red;">{{ msg }}</div><br>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <label>
                        <input type="checkbox" name="lembrar"> Lembrar-me
                    </label>

                    <div style="text-align: center;">
                        <button type="submit" style="margin: 20px 0;" id="btnform">Acessar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>Escola SENAI "Luíz Massa" CPF 7.91 &COPY; Desenvolvido em 2025</p>
    </footer>
</body>

</html>