<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
    <header>
        <div class="title">
            <h1>SENAI</h1>
        </div>
    </header>
    <main>
        <div class="boxImg none flex"></div>
        <div class="boxImg">
            <div class="boxForm" >
                <div style="text-align: center;color: #460739;margin: 20px 0;">
                    <h1>Login</h1>
                </div>
                <form method="POST" action="">
                    <label for="inp"><b>NIF</b></label><br>
                    <input type="number" id="inp" placeholder="Digite seu NIF" name="nif">
                    <label for="inp"><b>Senha</b></label><br>
                    <input type="password" id="inp" placeholder="Digite sua senha" name="senha">
                    <div style="text-align: center;">
                        <button type="submit" style="margin-bottom: 20px;" id="btnform">Acessar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>Todos os direitos reservados &COPY; Dsenvolvido em 2025</p>
    </footer>
    <script></script>
</body>

</html>