<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registros</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
</head>

<body>
    <header>
        <div class="title">
            <img src="{{ url_for('static', filename='img/senai.svg')}}" alt="Logo do SENAI" width="150px" >
        </div>
        {% if not user[4] > 2 %}
        <a class="nav" href="/" id="btn-menu" style="color: aliceblue;font-weight: bold;">SAIR</a>
        {% else %}
        <div>
            <a href="/auth" id="btn-menu"><img src="../static/img/home.svg" width="40px" alt="voltar"></a>
        </div>
        {% endif %}
    </header>
    <div class="modal-box">
        <div class="modal none-primary">
            <div class="box-head">
                <div style="text-align: center;flex: 3;text-align: center;color:#460739">
                    <h2 style="margin: 5px 0;"><span id="caso"></span></h1>
                </div>
                <div class="sair-modal">
                    <img src="{{ url_for('static', filename='img/cancel.svg') }}" onclick="fecharModal()" width="35px"
                        alt="x">
                </div>
            </div>
            <div class="box-main">

                <div class="info-modal"></div>

                <div class="img-modal">
                    <img src="../static/img/user.svg" alt="">
                    <img style="position: absolute;" id="imagePreview" src="../static/img/user.svg" alt="">
                </div>
            </div>
            {% if user[4] > 1 %}
            <div class="visto"></div>
            {% endif %}
        </div>
        <div class="modal none-secondary modal-cod">
            <div class="box-head">
                <div style="text-align: center;flex: 3;text-align: center;color:#460739">
                    <h3 style="margin: 5px 0;">Comunicado ao responsavel</h1>
                </div>
                <div class="sair-modal">
                    <img src="{{ url_for('static', filename='img/cancel.svg') }}" onclick="fecharModal()" width="35px"
                        alt="x">
                </div>
            </div><br>
            <div class="box-main" style="flex-direction: column;">
                <p style="padding: 5px;border-left: 3px solid blue;border-radius: 3px;background-color: aliceblue;">
                    Um número de 7 carácteres foi enviado para o responsavel do aluno. Para continuar, insira-o no campo
                    abaixo.
                </p><br>
                <p>Obs: peça ao aluno ou para coordenação que se comunique com o responsavel para adquirir o código.</p><br>
                <form action="/verificacao" method="post" style="display: flex;flex-direction: column;">
                    <input type="hidden" name="id" value="0">
                    <input type="hidden" name="id_status" id="id-status">
                    <input type="number" class="inp2" placeholder="Insira o código aqui" name="cod" maxlength="7" minlength="7" required>
                    <br><div style="display: flex;justify-content: center;align-items: center;padding: 10px;">
                    <button class="btn-padrao" type="submit">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front text"> confirmar
                        </span>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <main><br>
        <div class="box-btn">
            <div class="customCheckBoxHolder" style="flex: 1;">
                <img src="../static/img/filter.svg" width="30px" alt="">
                <input class="customCheckBoxInput" value="1" id="cCB1" type="checkbox">
                <label class="customCheckBoxWrapper" for="cCB1">
                    <div class="customCheckBox">
                        <div class="inner">Em espera</div>
                    </div>
                </label>

                <input class="customCheckBoxInput" value="4" id="cCB2" type="checkbox">
                <label class="customCheckBoxWrapper" for="cCB2">
                    <div class="customCheckBox">
                        <div class="inner">Pendente</div>
                    </div>
                </label>

                <input class="customCheckBoxInput" value="2" id="cCB3" type="checkbox">
                <label class="customCheckBoxWrapper" for="cCB3">
                    <div class="customCheckBox">
                        <div class="inner">Confirmado</div>
                    </div>
                </label>
                {% if user[4] > 2 %}
                <input class="customCheckBoxInput" value="5" id="cCB4" type="checkbox">
                <label class="customCheckBoxWrapper" for="cCB4">
                    <div class="customCheckBox">
                        <div class="inner">Em espera do responsável</div>
                    </div>
                </label>
                {% endif %}

            </div>
            {% if user[4] > 2 %}
            
            <button class="button" type="button" onclick="limpar()">
                <span class="button__text">Limpar lista?</span>
                <span class="button__icon"><svg class="svg" height="512" viewBox="0 0 512 512" width="512"
                        xmlns="http://www.w3.org/2000/svg">
                        <title></title>
                        <path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320"
                            style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                        </path>
                        <line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80"
                            x2="432" y1="112" y2="112"></line>
                        <path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40"
                            style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                        </path>
                        <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                            x1="256" x2="256" y1="176" y2="400"></line>
                        <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                            x1="184" x2="192" y1="176" y2="400"></line>
                        <line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
                            x1="328" x2="320" y1="176" y2="400"></line>
                    </svg></span>
            </button>
            {% endif %}
        </div>
        <div class="container"></div>
    </main>
    {% if user[4] == 2 %}
    <aside>
    </aside>
    {% endif %}
    <footer>
        <p>Escola SENAI "Luíz Massa" CPF 7.91 &COPY; Desenvolvido em 2025</p>
    </footer>
    <script>
        const data_auth = JSON.parse('{{ auth_alunos | safe }}')
        const data_status = JSON.parse('{{ data_status | safe }}')
        const autoridade = '{{user[4]}}'
        const id_modal = '{{id_modal}}'
    </script>
    <script src="{{ url_for('static', filename='script/registerAll.js') }}"></script>
</body>

</html>