<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registros</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/list.css">
</head>

<body style="background-color: white;">
  <header>
    <div class="title">
      <img src="{{ url_for('static', filename='img/senai.svg')}}" alt="Logo do SENAI" width="150px">
    </div>
    {% if not user[4] != 2 %}
    <a class="nav" href="/logout" id="btn-menu" style="color: aliceblue;font-weight: bold;">SAIR</a>
    {% else %}
    {% if not curso %}
    <div>
      <a href="/auth?menu=1" id="btn-menu"><img src="../static/img/home.svg" width="40px" alt="voltar"></a>
    </div>
    {% else %}
    <a class="nav" href="/cursos" id="btn-menu">
      <img src="{{ url_for('static', filename='img/voltar.svg') }}" width="40px" alt="voltar">
    </a>
    {% endif %}
    {% endif %}
  </header>

  <button id="btnTopo">
    <img src="../static/img/eject.svg" width="30px" alt="">
  </button>

  {% if user[4] != 2 %}
  <div class="alert-qnt" onclick="abrirLista()" style="display: none;">
    <img src="../static/img/sinal-de-aviso.png" width="60px" alt="">
  </div>
  <div id="sair-maior" onclick="fecharLista()"></div>
  <div class="alert-qnt-box">
    <div class="fechar-alert-btn" onclick="fecharLista()"><span style="font-size: 1rem;" id="msg-sair">sair</span>x
    </div>
    <br>
    <h4 style="text-align: center;">Lista de alunos que ultrapassaram a quantidade de solicitações no mês</h4>
    <br>
    <ul style="list-style: none;" class="lista-alert"></ul>
  </div>
  {% endif %}

  <div class="modal">
    <div class="box-modal">
      <div class="head-modal">
        <h3 id="title-modal">AUTORIZAÇÃO</h3>
        <button onclick="fecharModal()" id="sair-modal">
          <img src="../static/img/cancel.svg" alt="" width="30px">
        </button>
      </div>
      <nav class="nav-modal">
        <!-- From Uiverse.io by Yaya12085 -->
        <div class="radio-input">
          <label onclick="select(0)">
            <input type="radio" id="value-1" class="radio2" name="value-radio" value="value-1" checked>
            <span>Autorização</span>
          </label>
          <label onclick="select(1)">
            <input type="radio" id="value-2" class="radio2" name="value-radio" value="value-2">
            <span>Registros</span>
          </label>
          <span class="selection"></span>
        </div>
      </nav>
      <div class="main-modal">
        <div class="info-auth">
          <div class="resultado-form">
            <h2 class="tipo-caso" id="caso">Entrada</h2>

            <h3 class="aluno" id="aluno">➤ Sergio</h3>

            <div class="info-linha">
              <span><strong>Atividade:</strong></span>
              <span id="atividade">CAI</span>
            </div>

            <div class="info-linha">
              <span><strong>Curso:</strong></span>
              <span id="curso">ADS</span>
            </div>

            <div class="data-hora">
              <input type="date" id="data" class="inp-text" readonly>
              <input type="time" id="hora" class="inp-text" readonly>
            </div>

            <p class="motivo">
              ➔ <strong><i>Motivo:</i></strong>
              <span id="motivo">não tem</span>
            </p>

            <p class="obs" id="obs-auth-modal">Obs: teve que sair sem permissão</p>

            <h3 class="docente" id="docente">• Docente » Helder</h3>
          </div>
        </div>
        <div class="info-auth none">
          <div id="msg-resp"></div>
          <div style="overflow-x: auto;max-width: 100%;">
            <table border="1" class="table"></table>
          </div>
          <h3>quantidade de solicitação de <span id="caso-title"></span></h3>
          <table border="1" class="table"></table>

        </div>
        <div class="info-auth" style="display: none;">
          <h4 id="info-aluno">O aluno é menor de idade</h4>
          <p style="padding: 5px;border-left: 3px solid blue;border-radius: 3px;background-color: aliceblue;">
            Um número de 7 carácteres foi enviado para o responsavel. Para continuar, insira-o no campo
            abaixo.
          </p><br>
          <p>Obs: peça ao aluno ou para coordenação que se comunique com o responsavel para adquirir o código.</p>
          <br>
          <div style="text-align: left; width: 100%;padding: 0 10px;display: flex;" id="checkbox"></div><br>

          <form action="/autorizar-pelo-responsavel/{{curso[0] if curso else 0}}" method="post"
            style="display: flex;flex-direction: column;">
            <input type="hidden" id="idStatus" name="id">
            <input type="hidden" id="idAuth" name="auth">
            <input type="number" class="inp2" placeholder="Insira o código aqui" name="cod" maxlength="7" minlength="7"
              required>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for msg, tipo in messages %}
            {% if tipo=='vulneravel' %}
            <p style="color: red; font-weight: bold;">{{msg}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div style="display: flex;justify-content: center;align-items: center;padding: 10px;">
              <button class="btn-padrao" type="submit">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> confirmar
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="cod-modal">
        <p style="color: white;margin-right: 5px;" id="msg-check"></p>
        <span id="chek"></span>
      </div>
    </div>
  </div>
  <main>
    {% if curso %}
    <div class="box-title">
      {% if user[4] > 2 %}
      <img onclick="openEdit()" src="{{ url_for('static', filename='img/edit.svg') }}" width="30px" alt="">
      {% endif %}
      <h2 id="title">{{curso[1]}}</h2>
    </div>
    <div class="edit-curso">
      <button onclick="dellCurso('{{curso[0]}}')" class="btn-delete">
        <img src="{{ url_for('static', filename='img/delete.svg') }}" width="30px" alt="">
      </button>
      <form action="/registros/{{curso[0]}}" method="post" style="display: flex;width: 100%;">
        <input type="text" name="nowName" id="inp">
        <button type="submit" id="save">
          <img src="../static/img/save.svg" alt="" width="30px">
        </button>
      </form>
      <button onclick="closeEdit()" id="cancel">Cancelar</button>
    </div>
    {% endif %}
    <div class="box-filter">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" onclick="filtroItens()" value="0" class="radio-item" name="radio" checked>
          <span class="name">Todos</span>
        </label>
        <label class="radio">
          <input type="radio" onclick="filtroItens()" value="1" class="radio-item" name="radio">
          <span class="name">Em andamento</span>
        </label>
        <label class="radio">
          <input type="radio" onclick="filtroItens()" value="3" class="radio-item" name="radio">
          <span class="name">Pendentes</span>
        </label>
        <label class="radio">
          <input type="radio" onclick="filtroItens()" value="2" class="radio-item" name="radio">
          <span class="name">Concluído</span>
        </label>
      </div>
      {% if user[4] != 2 %}
      <div class="select-container">
      {% else %}
      <br>
      <div class="select-container" style="display: none;">
      {% endif %}
        <label class="select-label">Ano:</label>
        <div class="select-wrapper">
          <select id="selectAno" onchange="filtroItens()" class="custom-select"></select>
        </div>
        <label class="select-label">Mês:</label>
        <div class="select-wrapper">
          <select id="selectMes" onchange="filtroItens()" class="custom-select">
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>
        </div>
      </div>
    </div>

    <div class="container"></div>
  </main>

  <footer>
    <p>Escola SENAI "Luíz Massa" CPF 7.91 &COPY; Desenvolvido em 2025</p>
  </footer>
  <script>
    const curso = parseInt('{{curso[0]}}') || 0
    const autoridade = parseInt('{{user[4]}}')
    let id = "{% with messages = get_flashed_messages() %}{% if messages %}{% for msg, tipo in messages %}{% if tipo=='modal' %}{{msg}}{% endif %}{% endfor %}{% endif %}{% endwith %}" || 0
  </script>
  <script src="../static/script/list.js"></script>
  <script src="../static/script/script.js"></script>
</body>

</html>