main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bem-vindo {
    animation: ola 2s forwards 5s;
    color: #eee;
}

@keyframes ola {
    100% {
        transform: translateX(50px);
        opacity: 0;
        display: none;
    }
}

.container {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
    background-color: white;
    display: none;
    transform: translateX(0);
}

.formulario {
    color: #460739;
}

.inp,
.inp-select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.inp:focus {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#btnform {
    font-weight: bold;
    color: aliceblue;
    opacity: 0.7;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #f64444;
    border-bottom: 5px solid #bda9c8;
    border-left: 3px solid #bda9c8;
    border-right: 1px solid #bda9c8;
    transition: 0.2s;
}

#btnform:hover {
    font-size: small;
    background-color: #ff0000;
    border-bottom: 1px solid #bda9c8;
    border-left: 1px solid #bda9c8;
    transform: scale(0.99);
}

.input-group {
    margin-bottom: 25px;
}

textarea,
input,
select {
    border: 2px solid #ddd;
}

textarea {
    width: 100%;
    padding: 10px;
    min-height: 120px;
    resize: vertical;
    border-radius: 10px;
}

.tags {
    display: grid;
    grid-template-rows: auto;
    margin: 5px;
}

.itemTag {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: #d7d7e0;
    transition: 0.1s;
}

.itemTag:hover {
    background-color: #adadbe;
}

.radio-input {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 45%;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45px;
    z-index: -1;
    transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #cfd3e8;
}

.radio-input .label:has(input:checked)::before {
    border-color: #da5050;
    height: 50px;
}

.radio-input .label .text {
    color: #000;
}

.radio-input .label input[type="radio"] {
    background-color: #646482;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#btn-menu {
    background-color: transparent;
    cursor: pointer;
}

.menu {
    display: none;
    opacity: 0;
    transform: translateY(-104%);
    background-color: transparent;
    box-shadow: none;
}

.menu-perfil {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.perfil {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu-acesso {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.opcao-menu {
    list-style: none;
    width: 100%;
}

.opcao-menu li {
    margin-bottom: 10px;
}

#sair-login {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
    text-decoration: none;
}

#sair-login:hover {
    background-color: #ca676f;
    transform: translateY(-5px);
}

#resultados {
    list-style-type: none;
    overflow-y: auto;
    max-height: 50px;
}

#resultados li {
    transition: 0.3s;
}

#resultados li:hover {
    padding-left: 20px;
    background-color: #ccc;
    cursor: pointer;
}

.info {
    background-color: #f8f9ff;
    padding: 5px 10px;
    border-radius: 5px;
    border-left: 3px solid blue;
}

.icone {
    cursor: pointer;
    font-size: 5px;
}

.btn {
    width: 100%;
    color: #f64444;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #f64444;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #f64444;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}

@media only screen and (max-width:768px) {
    .tags {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .opcao-menu li {
        margin-bottom: 5px;
    }

    .container {
        max-width: 99%;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }
    .opcao-menu{width: 340px;}

    .perfil {
        max-width: 95%;
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (min-width:768px) {
    .tags {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    .opcao-menu{width: auto;}

    .opcao-menu li {
        margin-bottom: 15px;
    }

    .container {
        max-width: 80%;
    }

    .menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .perfil {
        max-width: 400px;
        padding: 20px;
    }
}

@media only screen and (min-width:1024px) {
    .tags {
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
    }

    .opcao-menu li {
        margin-bottom: 10px;
    }

    .perfil {
        max-width: 400px;
        padding: 25px;
    }
}

.container-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.form_area {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDDCD9;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #E99F4C;
}

.title {
    color: #264143;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title {
    font-weight: 600;
    margin: 5px 0;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus,
.btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #E99F4C;
}