main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bem-vindo{
    animation: ola 2s forwards 2s;
    color: #eee;
}
@keyframes ola {
    100%{
        transform: translateX(50px);
        opacity: 0;
        display: none;
    }
}

.container {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}

.formulario {
    color: #460739;
}

.inp {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.inp-select {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.inp:focus {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    /* font-size: 14px; */
}

#btnform {
    font-weight: bold;
    color: aliceblue;
    opacity: 0.7;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #e10069;
    border-bottom: 5px solid #bda9c8;
    border-left: 3px solid #bda9c8;
    border-right: 1px solid #bda9c8;
    transition: 0.2s;
}

#btnform:hover {
    font-size: small;
    background-color: #d54fef;
    border-bottom: 1px solid #bda9c8;
    border-left: 1px solid #bda9c8;
    transform: scale(0.99);
}

.input-group {
    margin-bottom: 25px;
}

textarea,
input,
select {
    border: 2px solid #ddd;
}

textarea {
    width: 100%;
    padding: 10px;
    min-height: 120px;
    resize: vertical;
    border-radius: 10px;
}

.tags {
    display: grid;
    grid-template-rows: auto;
    margin: 5px;
}

.itemTag {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: #d7d7e0;
    transition: 0.1s;
}

.itemTag:hover {
    background-color: #adadbe;
}

/*radio*/

.radio-input {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 45%;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45px;
    z-index: -1;
    transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #cfd3e8;
}

.radio-input .label:has(input:checked)::before {
    border-color: #9a50da;
    height: 50px;
}

.radio-input .label .text {
    color: #000;
}

.radio-input .label input[type="radio"] {
    background-color: #646482;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#btn-menu {
    background-color: transparent;
    cursor: pointer;
}

.menu {
    display: none;
    opacity: 0;
    transform: translateY(-104%);
    box-shadow: none;
    display: flex;
}

.menu-perfil{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    max-width: 80%;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
}
.menu-acesso{
    flex: 1;
}
.opcao-menu{
    list-style: none;
}

#sair-login {
    padding: 10px 20px;
    background-color: #ff4b5c;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#sair-login:hover {
    background-color: #ca676f;
    transform: translateY(-5px);
}

#resultados {
    list-style-type: none;
    overflow-Y: auto;
    max-height: 50px
}

#resultados li {
    transition: 0.3s;
}

#resultados li:hover {
    padding-left: 20px;
    background-color: #ccc;
    cursor: pointer;
}

.info {
    background-color: #f8f9ff;
    padding: 5px 10px;
    border-radius: 5px;
    border-left: 3px solid blue;
}

.icone {
    cursor: pointer;
    font-size: 5px;
}

/* From Uiverse.io by SujitAdroja */ 
.btn {
    width: 100%;
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

@media only screen and (max-width:768px) {
    .tags {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .opcao-menu li{
        margin-bottom: 5px;
    }
    .container{
        max-width: 99%;
    }
    .menu{
        flex-direction: column;
    }
    .perfil{
        max-width: 99%;
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (min-width:768px) {
    .tags {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    .opcao-menu li{
        margin-bottom: 15px;
    }
    .container{
        max-width: 80%;
    }
    .menu{
        flex-direction: row;
    }
    .perfil{
        max-width: 90%;
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (min-width:1024px) {
    .tags {
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
    }
    .opcao-menu li{
        margin-bottom: 10px;
    }
    .perfil{
        max-width: 80%;
        width: 100%;
        padding: 20px;
    }
}