main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(to top, rgba(144, 51, 161, 0.1), white);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 3px;
    text-align: center;
    border-right: 1px solid #777;
}

td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

th {
    background-color: #888888;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.box-addCurso {
    max-width: 90%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.add-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid green;
    color: green;
    transition: 0.1s;
    cursor: pointer;
}

.add-btn:hover {
    border: 2px solid greenyellow;
    color: greenyellow;
}

.inp {
    width: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.inp:focus {
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 1.1em;
    transform: translateY(-3px) scale(1.01);
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
}

.item {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.head-item {
    display: flex;
    background-color: #ddd;
    padding: 0 10px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-item {
    display: flex;
}

.notification {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;align-items: center;border-bottom-right-radius: 10px;padding: 5px;
}

.notification p {
    color: #b09932;
    font-weight: bold;
    font-size: 13px;
}

#favoritos {
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
}

@media only screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media only screen and (min-width:768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media only screen and (min-width:1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}