.config {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

.box-config {
    display: none;
    padding: 0 10px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

.box-config:hover {
    display: block;
}

#open-config {
    cursor: pointer;
}

#open-config:hover {
    animation: girar 1.5s linear 0s;
}

#open-config:hover~.box-config {
    display: block;
}

.box-config img {
    transition: 0.3s;
}

.box-config img:hover {
    background-color: #ccc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.none {
    display: block;
}

.box-edit {
    display: none;
    width: 90%;
}

.box-edit #cancel {
    padding: 0 10px;
    color: red;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    transition: 0.3s;
}

.box-edit #cancel:hover {
    background-color: rgba(255, 140, 140, 0.5);
}

#save {
    font-weight: bold;
    font-size: 1.5rem;
    width: 90px;
    color: green;
    background-color: rgba(204, 252, 132, 0.2);
    transition: 0.3s;
    border-right: 2px solid green;
}

#save:hover {
    background-color: rgba(204, 252, 132, 0.5);
}

.inp {
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.inp:focus {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.inp2 {
    padding: 5px;
    background-color: #eee;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3s;
    text-align: center;
}

.inp2:focus {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}

.item {
    cursor: pointer;
}

.item-content {
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
}

.item-info {
    text-align: center;
    color: #555;
    font-weight: bold;
    margin-top: 10px
}


.modal-box {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(150, 150, 150, 0.5));
    display: none;
    z-index: 10000;
}

.modal {
    max-width: 70%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translatey(50px);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 10px;
}

.box-main {
    display: flex;
    margin: 10px;
}

.box-main .obs {
    margin-top: 10px;
    padding: 5px 10px;
    border-left: 3px solid blue;
    border-radius: 5px;
    background-color: aliceblue;
}

.info-modal {
    padding: 0 20px;
    flex: 1;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.info-modal p {
    margin-bottom: 3px;
}

.inp-text {
    background-color: transparent;
    outline: none;
    font-size: 1em;
}

.time-modal {
    margin: 10px;
    border-top: 2px solid rgba(0, 0, 255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 255, 0.2);
    text-align: center;
}

.img-modal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-modal img {
    width: 200px;
    height: 200px;
}

.box-head {
    display: flex;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.visto {
    font-size: 1rem;
    font-weight: bold;
    background-color: #ddd;
    padding: 3px;
    justify-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sair-modal {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-top-right-radius: 10px;
    padding: 0 5px;
}

.sair-modal:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.abrir {
    animation: abrir 0.5s forwards;
}

.fechar {
    animation: fechar 0.5s forwards;
}

.abrir2 {
    display: flex;
    animation: abrir2 0.3s forwards;
}

.fechar2 {
    animation: fechar2 0.3s forwards 0.3s;
}

@keyframes abrir2 {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: flex;
    }
}

@keyframes fechar2 {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes abrir {
    0% {
        transform: translatey(50px);
        opacity: 0;
    }

    100% {
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes fechar {
    0% {
        transform: translatey(0);
        opacity: 1;
    }

    100% {
        transform: translatey(50px);
        opacity: 0;
    }
}

.status {
    margin-top: 10px;
    background-color: aquamarine;
    border-left: 3px solid blue;
    padding: 2px 5px;
}

.box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

/* From Uiverse.io by vinodjangid07 */
/* To hide the checkbox */
#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
}

/* From Uiverse.io by andrew-demchenk0 */
.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    flex-direction: row-reverse;

    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(-15px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(-109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
}

.button:hover {
    background: #cc0000;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #b20000;
}

.button:active {
    border: 1px solid #b20000;
}

/* From Uiverse.io by WhiteNervosa */
.customCheckBoxHolder {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(68, 68, 68, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
}

.customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
}

.customCheckBox:hover .inner {
    transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customCheckBoxInput {
    display: none;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
}


@media only screen and (max-width:768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .box-main {
        flex-direction: column-reverse;
    }

    .modal {
        max-width: 99%;
        overflow-y: auto;
        max-height: 650px;
    }

    .modal-cod {
        max-width: 99%;
        height: auto;
    }

    .box-btn {
        flex-direction: column;
    }

    .customCheckBoxHolder {
        flex-direction: column;
    }
}

@media only screen and (min-width:768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .box-main {
        flex-direction: row;
    }

    .modal {
        max-width: 70%;
    }

    .modal-cod {
        max-width: 40%;
    }

    .box-btn {
        flex-direction: row;
    }

    .customCheckBoxHolder {
        flex-direction: row;
    }
}

@media only screen and (min-width:1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

aside {
    position: fixed;
    overflow-y: auto;
    top: 50px;
    right: 0;
    bottom: 4.3vh;
    width: 300px;
    background-color: #cacaca;
}