@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffdff;
}

header {
    padding: 0 10px;
    background: linear-gradient(to right, #d42821, #d42821, #811613);
    height: 50px;
    box-shadow: 5px 0 15px gray;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;

    height: 100%;
}

.title {
    width: 100%;
    flex: 3;
}

.title h1 {
    font-family: "Goblin One", serif;
    color: aliceblue;
}

main {
    margin-top: 50px;
    flex: 3;
    height: 100%;
}

footer {
    text-align: center;
    background: linear-gradient(to left, #d42821, #d42821, #811613);
    color: aliceblue;
    padding: 3px;
    width: 100%;
}


/* From Uiverse.io by cssbuttons-io */
.btn-padrao {
    font-weight: bold;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(311, 100%, 16%) 0%,
            hsl(317, 100%, 32%) 8%,
            hsl(315, 100%, 32%) 92%,
            hsl(309, 100%, 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 1rem;
    color: white;
    background: hsl(327, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.btn-padrao:hover {
    filter: brightness(110%);
}

.btn-padrao:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn-padrao:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.btn-padrao:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn-padrao:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.btn-padrao:focus:not(:focus-visible) {
    outline: none;
}