<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="header">
        <h1 class="h1-header">
            <img style="height: 70px; width: 135px;"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/SENAI_S%C3%A3o_Paulo_logo.png/1200px-SENAI_S%C3%A3o_Paulo_logo.png"
                alt="">
        </h1>
    </div>
    
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha" />
            <a href="/">Esqueci minha senha</a>
            <a href="/formulario">
                <input value="Acessar" class="btn" />
            </a>
        </form>
    </div>

    <div class="footer">
        <p>Todos os direitos reservados &COPY; </p>
    </div>
</body>

</html>