.container {
    justify-items: center;
    padding: 10px 20px;
}

.container form input {
    margin-top: 5px;
    padding: 10px;
    width: 80vw;
    max-width: 960px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid red;
    outline: none;
    border-radius: 5px;

    background-color: white;
    transition: 0.2s;
}

.container form input:focus {
    box-shadow: inset 0 0 5px #f72585;
    transform: translateY(-5px);
}

#btnform {
    opacity: 0.7;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #e10069;
    border-bottom: 5px solid #bda9c8;
    border-left: 1px solid #bda9c8;
    border-right: 1px solid #bda9c8;
    transition: 0.2s;
}

#btnform:hover {
    font-weight: bold;
    font-size: small;
    background-color: #d54fef;
    border-bottom: 1px solid #bda9c8;
    transform: scale(1.05);
}

/*  */

.radio-input {
    display: flex;
    gap: 10px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #cfd3e8;
}

.radio-input .label:has(input:checked)::before {
    box-shadow: inset 0 0 10px 2px #ff93be;
    border-color: #9a50da;
    height: 50px;
}

.radio-input .label .text {
    color: #000;
}

.radio-input .label input[type="radio"] {
    background-color: #646482;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}